<div>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close" ng-click="closeEditAuthorModal()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Update author:</h4>
	</div>
	<div class="modal-body">
		<b> Author Name: </b><br /> <input type=text
			ng-model="author.authorName"> <br />
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="closeEditAuthorModal()">Close</button>
		<button type="button" class="btn btn-primary"
			ng-click="updateAuthor()">Update Author</button>
	</div>
</div>