<div class="container">
	<ul class="nav nav-pills nav-justified">
		<li><a href="#admin">Admin Book Services</a></li>
		<li><a href="#/adminauthor"> Admin Author Services</a></li>
		<li class="active"><a href="#/adminbranch"> Admin Branch Services </a></li>
		<li><a href="#/adminoverride">Admin Override Services</a></li>
		<li><a href="#/adminpublisher">Admin Publisher Services</a></li>
		<li><a href="#/adminborrower">Admin Borrower Services</a></li>
	</ul>
</div>
<div class="container">
	<div ng-controller="branchController">
		<center>
			<div class="jumbotron">
				<h2>Add or delete or update branches here! We have about
					{{branches.length}} branches in our database. Help us expand!</h2>
			</div>
		</center>
		<div align="center">
			<div class="row">

				<div class="col-sm-4">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="searchString"
							placeholder="Search for..." ng-change="searchBranches()">
					</div>
				</div>

				<div class="col-sm-4">
					<ul class="pagination">
						<li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
						<li ng-repeat="n in [] | range: pagination.numPages"
							ng-class="{active: n == pagination.page}"><a href=""
							ng-click="pagination.toPageId(n)">{{n+1}}</a></li>
						<li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
					</ul>
				</div>

				<div class="col-sm-4">
					<a class="btn btn-primary" ng-click="showAddBranchModal()"><span
						class="glyphicon glyphicon-plus"></span> Add a branch </a>
				</div>

			</div>
		</div>
	
		<table class="table">
			<thead>
				<tr>
					<th>Branch Name</th>

					<th>Update</th>

					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="b in leftBranches | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
					<td>{{b.branchName}}</td>
					<td>
						<p>
							<button type="button" class="btn btn-default" role="button"
								ng-click="showEditBranchModal(b.branchId)">Update
								Branch Now</button>
						</p>
					</td>
					<td>
						<p>
							<button type="button" class="btn btn-default" role="button"
								ng-click="showDeleteBranchModal(b.branchId)">Delete
								Branch Now</button>
						</p>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="modal fade bs-example-modal-lg" id="editBranchModal"
			modal="editBranchModal" tabindex="-1" role="dialog"
			aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<ng-include src="'adminupdatebranch.html'"></ng-include>
				</div>
			</div>
		</div>
		<div class="modal fade bs-example-modal-lg" id="deleteBranchModal"
			modal="deleteBranchModal" tabindex="-1" role="dialog"
			aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<ng-include src="'admindeletebranch.html'"></ng-include>
				</div>
			</div>
		</div>
		<div class="modal fade bs-example-modal-lg" id="addBranchModal"
			modal="addBranchModal" tabindex="-1" role="dialog"
			aria-labelledby="myLargeModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<ng-include src="'adminaddbranches.html'"></ng-include>
				</div>
			</div>
		</div>
	</div>
</div>
